{% extends "layout.html" %}

{% block page_title %}
1. Etusivu
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %}


{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      {% include "includes/breadcrumb_kirjasto-items.html" %}
      <li>1. Etusivu</li>
    </ol>
  </div>



  <h1 class="heading-xlarge">
    <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
    1. Etusivu
    <!--Kirjasto-kojelauta-->
  </h1>

  <h2 class="heading-large">
    <a href="/dashboard/kirjasto/lukijaprofiili">1A. Lukijaprofiili</a>
  </h2>

  <p class="lede">
    Esittelyteksti osiolle.
  </p>



  <ul class="list list-bullet">
    {% include "includes/navigation-kirjasto.html" %}
  </ul>



  <div class="column-one-half  mydata-section" style="margin-top: 50px;">

    <h2 class="heading-large">
      Lukuhistoria
    </h2>

    <!-- <p class="lede">
      A 24px lead paragraph, maecenas sed diam.
    </p> -->

    {% include "includes/kirjasto-timeline.html" %}

  </div>
  <!-- .mydata-section ends -->


  <div class="column-one-half  mydata-section" style="margin-top: 50px;">

    <h3 class="heading-medium">
      Profiili
    </h3>
    <div class="mydata-subsection">
      <h4 class="heading-small">Aihepiirit</h3>

      <ul class="list list-bullet">
        <li>
          <a class="bookPageGenreLink" href="/dashboard/kirjasto/genres/non-fiction">Nonfiction</a>
        </li>
        <li>
          <a class="bookPageGenreLink" href="/dashboard/kirjasto/genres/self-help">Self Help</a>
        </li>
        <li>
          <a class="bookPageGenreLink" href="/dashboard/kirjasto/genres/psychology">Psychology</a>
        </li>
        <li>
          <a class="bookPageGenreLink" href="/dashboard/kirjasto/genres/how-to">How To</a>
        </li>
      </ul>
    </div>

    <div class="mydata-subsection">
      <h4 class="heading-small">Tilastot</h3>

      <ul class="list list-bullet">
        <li>
          <a class="bookPageGenreLink" href="#">Tilastosivu 1</a>
        </li>
        <li>
          <a class="bookPageGenreLink" href="#">Tilastosivu 2</a>
        </li>
      </ul>
    </div>

    <div class="mydata-subsection">
      <h4 class="heading-small">Kirjailijat</h3>
      <ul class="list list-bullet">
        <li>
          <a class="bookPageGenreLink" href="#">William Gibson</a>
        </li>
        <li>
          <a class="bookPageGenreLink" href="#">Donna Smallin Kuper</a>
        </li>
      </ul>
    </div>


    <div class="mydata-subsection">
      <h3 class="heading-medium">Suositukset</h3>
      <p>1B. Profiilin pohjalta tehdyt suositukset</p>
    </div>


    <div class="form-group">
      <fieldset class="inline">

        <legend class="visuallyhidden">
          Where should we send your new passport?
        </legend>

        <label class="block-label" for="radio-home-address" data-target="example-tilastot">
          <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes" aria-controls="example-tilastot" aria-expanded="true">
          Tilastot
        </label>

        <label class="block-label selected" for="radio-other-address" data-target="example-kirjailjat">
          <input id="radio-other-address" type="radio" name="radio-indent-group" value="No" aria-controls="example-kirjailijat" aria-expanded="true">
          Kirjailijat
        </label>

        <div class="panel panel-border-narrow" id="example-kirjailjat" aria-hidden="false">

          <h2 class="heading-medium">
            Kirjailijat
          </h2>

          <h4 class="heading-small">Kirjailijat</h3>
          <ul class="list list-bullet">
            <li>
              <a class="bookPageGenreLink" href="#">William Gibson</a>
            </li>
            <li>
              <a class="bookPageGenreLink" href="#">Donna Smallin Kuper</a>
            </li>
          </ul>
        </div>


        <div class="panel panel-border-narrow" id="example-tilastot" aria-hidden="false">

          <h2 class="heading-medium">
            Tilastot
          </h2>

          <ul class="list list-bullet">
            <li>
              <a class="bookPageGenreLink" href="#">Tilastosivu 1</a>
            </li>
            <li>
              <a class="bookPageGenreLink" href="#">Tilastosivu 2</a>
            </li>
          </ul>
        </div>
      </fieldset>


    </div>
    <!-- .grid-row ends -->
  </div>
  <!-- .mydata-section ends -->




<!--
  <div class="column-one-half  mydata-section">

    <h2 class="heading-medium">
      <a href="/dashboard/kirjasto/connect-services">Palvelujen linkittäminen</a>
    </h2>

    <p class="lede">
      Esittelyteksti osiolle.
    </p>

  </div>
-->
  <!-- .mydata-section ends -->



</main>

{% endblock %}
