{% extends "layout.html" %}

{% block page_title %}
  Omat tiedot
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
    1. Etusivu
    <!--Kirjasto-kojelauta-->
  </h1>

  <h2 class="heading-large">
    Tervetuloa
  </h2>


  <div class="mydata-section">

    <h2 class="heading-medium">
      Lukijaprofiili
    </h2>

    <p class="lede">
      A 24px lead paragraph, maecenas sed diam.
    </p>

    Palvelujen linkittäminen

    <div class="grid-row  mydata-subsection">

      <div class="column-one-third">
        <h3 class="heading-small">
          Header
        </h3>
        <p>Content</p>
      </div>

      <div class="column-one-third">
        <h3 class="heading-small">
          Header
        </h3>
        <p>Content</p>
      </div>

      <div class="column-one-third">
        <h3 class="heading-small">
          Header
        </h3>
        <p>Content</p>
      </div>

    </div> <!-- .grid-row ends -->
  </div> <!-- .mydata-section ends -->


  <div class="mydata-section">

    <h2 class="heading-medium">
      Historia
    </h2>

    <p class="lede">
      A 24px lead paragraph, maecenas sed diam.
    </p>

    <div class="grid-row  mydata-subsection">

      <div class="column-one-third">
        <h3 class="heading-small">
          Lainaushistoria
        </h3>
        <p>...</p>
      </div>

      <div class="column-one-third">
        <h3 class="heading-small">
          Lukuhistoria
        </h3>
        <p>...</p>
      </div>

      <div class="column-one-third">
        <h3 class="heading-small">
          Ostohistoria
        </h3>
        <p>...</p>
      </div>

    </div> <!-- .grid-row ends -->
  </div> <!-- .mydata-section ends -->


  <div class="mydata-section">

    <h2 class="heading-medium">
      Omat merkinnät
    </h2>

    <p class="lede">
      A 24px lead paragraph, maecenas sed diam.
    </p>

    <div class="grid-row  mydata-subsection">

      <div class="column-one-half">
        <h3 class="heading-small">
          Suosikkikirja
        </h3>
        <p>...</p>
      </div>

      <div class="column-one-half">
        <h3 class="heading-small">
          Wishlist
        </h3>
        <p>...</p>
      </div>

    </div> <!-- .grid-row ends -->
  </div> <!-- .mydata-section ends -->





  <div class="mydata-section">

    <h2 class="heading-medium">
      Analyysi
    </h2>

    <p class="lede">
      A 24px lead paragraph, maecenas sed diam.
    </p>


    <div class="grid-row ">

      <div class="column-one-third mydata-subsection">
        <h3 class="heading-small">
          Aihepiirit
        </h3>
        <p>Aihepiirit asiasanalistana</p>
      </div>

      <div class="column-one-third mydata-subsection">
        <h3 class="heading-small">
          Tilastot
        </h3>
        <p>...</p>
      </div>

      <div class="column-one-third mydata-subsection">
        <h3 class="heading-small">
          Kirjailijat
        </h3>
        <p>Kirjailijat, joiden kirjoja lukenut paljon</p>
      </div>

    </div> <!-- .grid-row ends -->
  </div> <!-- .mydata-section ends -->







</main>

{% endblock %}
