{% extends "layout.html" %}

{% block page_title %}
  Kirjaudu kirjastoon
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/kirjasto/intro">Kirjasto</a></li>
      <li>Kirjaudu kirjastoon</li>
    </ol>
  </div>


  <h1 class="heading-xlarge">
    <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
    Kirjasto
  </h1>

    <!--
    Helmet-haku

    Kun lopetat, kirjaudu ulos palvelusta ja sulje kaikki avautuneet selainikkunat.

    Kirjastokortin numero:

    Tunnusluku (PIN):

      Muista tämä kirjautuminen
    Jatka
    Unohditko tunnuslukusi?
    Rekisteröidy kirjaston asiakkaaksi
    Asiakasrekisteriseloste
    -->


    <form action="/" method="post" class="form">

      <h1 class="form-title heading-large">
        Kirjautuminen
      </h1>

      <!-- Full name -->
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Kirjastokortin numero</label>
        <p class="form-hint">Numero löytyy kirjastokorttisi takaosan yläreunasta.</p>
        <input type="text" class="form-control" id="full-name" value="2 0000 02000 0000">
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="full-name">Tunnusluku (PIN)</label>
        <p class="form-hint">Olet saanut tunnusluvun kirjastokortin hankkimisen yhteydessä.</p>
        <input name="secret" type="password" class="form-control" id="password" value="1234">
      </div>

      <div class="form-group">
        <details>
          <summary><span class="summary">Tarvitsetko apua?</span></summary>
          <div class="panel panel-border-narrow">
            <p>
              Jos et tiedä omaa tunnuslukuasi, käy kirjastosi asiakaspalvelussa hankkimassa uusi tunnusluku.
            </p>
            <p>
              Ota henkilökohtainen ajokorttisi tai muu kuvallinen henkilötunniste mukaan asiakaspalveluun.
            </p>
          </div>
        </details>
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Jatka palveluun">
      </div>
    </form>


    <ul class="list">
      <li><a href="/dashboard/kirjasto/intro" title="Main intro page">Jatka dashboard -sivulle</a><br></li>
      <li><a href="/dashboard/kirjasto/library-card-details" title="Library card details">Jatka omat tiedot -sivulle</a></li>
    </ul>


</main>

{% endblock %}
