<div class="grid-row  mydata-subsection">

  <div class="column-one-third  mix-bgcolor-2">
    <h3 class="heading-small">
      Kirjastot
    </h3>
    <p>Description</p>
    <ul class="list">
      <li><a href="#">HelMet –kirjastot</a></li>
      <li><a href="#">Jyväskylän kaupunginkirjasto</a></li>
      <li><a href="#">Tampereen kaupunginkirjasto</a></li>
      <li><a href="#" class="bold-xsmall">Lisää kirjastoja</a></li>
    </ul>
  </div>

  <div class="column-one-third  mix-bgcolor-2">
    <h3 class="heading-small">
      Lukupiirit
    </h3>
    <p>Description</p>
    <ul class="list">
      <li><a href="#">Goodreads</a></li>
      <li><a href="#">Related link</a></li>
      <li><a href="#">Related link</a></li>
      <li><a href="#" class="bold-xsmall">Lisää lukupiirejä</a></li>
    </ul>
  </div>

  <div class="column-one-third  mix-bgcolor-2">
    <h3 class="heading-small">
      Verkkokaupat
    </h3>
    <p>Description</p>
    <ul class="list">
      <li><a href="#">Amazon.com</a></li>
      <li><a href="#">Akateeminen Kirjakauppa</a></li>
      <li><a href="#">Book Depository</a></li>
      <li><a href="#" class="bold-xsmall">Lisää kirjakauppoja</a></li>
    </ul>
  </div>

</div> <!-- .grid-row ends -->
