<div class="mydata-section" style="margin-top: 50px;">

  <h2 class="heading-medium">
    Historia
  </h2>

  <p class="lede">
    A 24px lead paragraph, maecenas sed diam.
  </p>

  <div class="grid-row  mydata-subsection">

    <div class="column-one-third">
      <h3 class="heading-small">
        Lainaushistoria
      </h3>
      <p>Viimeksi lainatut kirjat.</p>
      <ul class="list  list-bullet">
        <li><a href="/dashboard/kirjasto/book">The One-Minute Organizer Plain & Simple: 500 Tips for Getting Your Life in Order</a></li>
        <li><a href="#">New York-trilogia</a></li>
        <li><a href="#">Pattern recognition</a></li>
        <li class="nobullet"><a href="#" class="bold-xsmall">Lisää</a></li>
      </ul>
    </div>

    <div class="column-one-third">
      <h3 class="heading-small">
        Lukuhistoria
      </h3>
      <p>Viimeksi luetut kirjat.</p>
      <ul class="list  list-bullet">
        <li><a href="#">Humans of New York: Stories</a></li>
        <li><a href="#">Neuromancer</a></li>
        <li><a href="#">Johnny Mnemonic</a></li>
        <li class="nobullet"><a href="#" class="bold-xsmall">Lisää</a></li>
      </ul>
    </div>

    <div class="column-one-third">
      <h3 class="heading-small">
        Ostohistoria
      </h3>
      <p>Viimeksi hankitut kirjat.</p>
      <ul class="list list-bullet">
        <li><a href="#">The Dogist: Photographic Encounters with 1,000 Dogs</a></li>
        <li><a href="#">Creative, Inc.: The Ultimate Guide to Running a Successful Freelance Business</a></li>
        <li><a href="#">To Sell Is Human: The Surprising Truth About Moving Others</a></li>
        <li class="nobullet"><a href="#" class="bold-xsmall">Lisää</a></li>
      </ul>
    </div>

  </div>
  <!-- .grid-row ends -->
</div>
<!-- .mydata-section ends -->
