<div class="mydata-services">

  <h2 class="heading-medium">Kirjastot</h3>

  <div class="grid-row">
    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="/dashboard/kirjasto/login-to-library">HelMet –kirjastot</a></h3>
      </div>
      <p class="">
        Esittelyteksti kirjastolle.
      </p>
      <div class="form-group">
        <input type="submit" class="button" value="Connected">
      </div>
    </div>

    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Jyväskylän kaupunginkirjasto</a></h3>
      </div>
      <p class="">
        Esittelyteksti kirjastolle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection--active" value="Connected">
      </div>
    </div>

    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Tampereen kaupunginkirjasto</a></h3>
      </div>
      <p class="">
        Esittelyteksti kirjastolle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection" value="Connect">
      </div>
    </div>
  </div>  <!-- .grid-row ends -->



  <h2 class="heading-medium">Lukupiirit</h3>

  <div class="grid-row">
    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Goodreads</a></h3>
      </div>
      <p class="">
        Esittelyteksti verkkopalvelulle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection--active" value="Connected">
      </div>
    </div>
  </div>  <!-- .grid-row ends -->



  <h2 class="heading-medium">Mediakäyttö</h3>

  <div class="grid-row">
    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-television fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Yle Tunnus</a></h3>
      </div>
      <p class="">
        Esittelyteksti verkkopalvelulle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection--active" value="Connected">
      </div>
    </div>
  </div>  <!-- .grid-row ends -->



  <h2 class="heading-medium">Verkkokaupat</h3>

  <div class="grid-row">

    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-amazon fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Amazon.com</a></h3>
      </div>
      <p class="">
        Esittelyteksti verkkopalvelulle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection--active" value="Connect">
      </div>
    </div>

    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Akateeminen Kirjakauppa</a></h3>
      </div>
      <p class="">
        Esittelyteksti verkkopalvelulle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection" value="Connect">
      </div>
    </div>

    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Book Depository</a></h3>
      </div>
      <p class="">
        Esittelyteksti verkkopalvelulle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection" value="Connect">
      </div>
    </div>

    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Service</a></h3>
      </div>
      <p class="">
        Esittelyteksti verkkopalvelulle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection" value="Connect">
      </div>
    </div>

    <div class="column-one-third  mix-bg-gradient-3  mydata-navbox">
      <div class="mix-bg-gradient-1  mydata-navbox-header">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        <h3 class="heading-small"><a href="#">Service</a></h3>
      </div>
      <p class="">
        Esittelyteksti verkkopalvelulle.
      </p>
      <div class="form-group">
        <input type="submit" class="button  button-connection--error" value="Connection error">
      </div>
    </div>

  </div>  <!-- .grid-row ends -->




</div> <!-- .mydata-services ends -->
