{% extends "layout.html" %}

{% block page_title %}
  Prototype kit
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li>Home</li>
    </ol>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">MyData-Helsinki</h1>

      <p>
        Project prototypes.
      </p>

      <p>
        This kit lets you rapidly create HTML prototypes of MixLibris services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>


      <h2 class="heading-medium">Prototypes</h2>

      <ul class="list list-bullet">
        <li>
          <h2 class="heading-small"><a href="/dashboard">Dashboard</a></h2>
        </li>
        <ul class="list list-bullet">
          <li>
            <a href="/dashboard/kirjasto">Kirjasto</a>
          </li>
          {% include "includes/navigation-kirjasto.html" %}
        </ul>
      </ul>


      <h2 class="heading-medium">Documentation &amp; Resources</h2>

      <ul class="list list-bullet">
        <li><em>Documentation</em></li>
        <ul class="list list-bullet">
  				<li>
            <a href="/examples">
              Example pages and patterns
            </a>
          </li>
  				<li>
            <a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
              Read the full documentation
            </a>
          </li>
  			</ul>

        <li><em>Other resources</em></li>
        <ul class="list list-bullet">
          <li>
            <a href="https://govuk-elements.herokuapp.com/snippets/">
              Guide to GOV.UK Elements
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/service-manual">
              Service design manual
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/design-principles">
              Government Digital Service Design Principles
            </a>
          </li>
        </ul>

      </ul>


      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

    </div>
  </div>
</main>

{% endblock %}
